In [1]:
import csv
import pandas as pd

In [4]:
data= {"Name" : ["Mar", "Resda", "Mares", "Dasat", "Satri", "Tria"], "Age" : [25, 17, 23, 29, 31, 22]}
data = pd.DataFrame(data)
#write a csv file
data.to_csv("age_data.csv", index=False)
print(data.head())

    Name  Age
0    Mar   25
1  Resda   17
2  Mares   23
3  Dasat   29
4  Satri   31

In [5]:
#read a csv file
data = pd.read_csv("age_data.csv")
print(data.head())

    Name  Age
0    Mar   25
1  Resda   17
2  Mares   23
3  Dasat   29
4  Satri   31