In [1]:
# tabulate is used to print tabular data in nicely formatted tables
from tabulate import tabulate
data = [["Name", "Place", "Gender"], ["Mares", "Malang", "Male"], ["Resda", "Jakarta", "Male"], ["Satria", "Surabaya", "Male"]]
print(tabulate(data))

------  --------  ------
Name    Place     Gender
Mares   Malang    Male
Resda   Jakarta   Male
Satria  Surabaya  Male
------  --------  ------

In [2]:
#set the first row as the header
print(tabulate(data, headers='firstrow'))

Name    Place     Gender
------  --------  --------
Mares   Malang    Male
Resda   Jakarta   Male
Satria  Surabaya  Male

In [3]:
#set the table's grid
print(tabulate(data, headers = 'firstrow', tablefmt = 'grid'))

+--------+----------+----------+
| Name   | Place    | Gender   |
+========+==========+==========+
| Mares  | Malang   | Male     |
+--------+----------+----------+
| Resda  | Jakarta  | Male     |
+--------+----------+----------+
| Satria | Surabaya | Male     |
+--------+----------+----------+

In [4]:
#other type of the table's grid
print(tabulate(data, headers = 'firstrow', tablefmt = 'fancy_grid'))

╒════════╤══════════╤══════════╕
│ Name   │ Place    │ Gender   │
╞════════╪══════════╪══════════╡
│ Mares  │ Malang   │ Male     │
├────────┼──────────┼──────────┤
│ Resda  │ Jakarta  │ Male     │
├────────┼──────────┼──────────┤
│ Satria │ Surabaya │ Male     │
╘════════╧══════════╧══════════╛